@import url('https://fonts.googleapis.com/css?family=Asap:400,500i,600i&display=swap');

body {
  font-family: Asap, sans-serif;
  background-color: #dedede;
  text-align: center;
}

.password-field input {
  text-align: center;
  height: 20px;
  border: solid black 2px;
  border-radius: 5px;
}

.verify-button a {
  padding: 7px;
  background: #57a5ff;
  text-decoration: none;

  border-radius: 20px;
}

::-webkit-input-placeholder {
  text-align: center;

}
