body {
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

/* Navigation bar links */
#navbar-title {
  color: #ffffff;
}

.nav-link1 a {
  cursor: pointer;
  transition: 0.2s ease 0s;
}

.nav-link2 a {
  cursor: pointer;
  transition: 0.2s ease 0s;
}

.nav-link3 a {
  cursor: pointer;
  transition: 0.2s ease 0s;
}

/* Navigation bar links hover */
.nav-link1:hover {
  color: #ffffff;
}

.nav-link2:hover {
  color: #ffffff;
}

.nav-link3:hover {
  color: #ffffff;
}

/* Site links */
.site-link1 {
  cursor: pointer;
  transition: 0.3s ease 0s;

  border-radius: 10px;
}

.site-link2 {
  cursor: pointer;
  transition: 0.3s ease 0s;

  border-radius: 10px;
}

.site-link3 {
  cursor: pointer;
  transition: 0.3s ease 0s;

  border-radius: 10px;
}

.site-link4 {
  cursor: pointer;
  transition: 0.3s ease 0s;

  border-radius: 10px;
}

.site-link5 {
  cursor: pointer;
  transition: 0.3s ease 0s;

  border-radius: 10px;
}

/* Site links hover */
.site-link1:hover {
  background-color: #dedede;
}

.site-link2:hover {
  background-color: #dedede;
}

.site-link3:hover {
  background-color: #dedede;
}

.site-link4:hover {
  background-color: #dedede;
}

.site-link5:hover {
  background-color: #dedede;
}

/* Esittelyvideo */
.esittely-video {
  padding-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

.esittely-video video {
  border-radius: 5px;

  width: 100%;
}

/* Gallery Heading */
.väliviiva {
  border: solid #a1a0a0 0.5px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 70px;
}

.gallerian-otsikko {
  text-align: center;
  padding-bottom: 80px;
}

.galleria {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, 255px);
  justify-content: center; */

  width: 100%;
  text-align: center;
}

div.gallery {
  margin-bottom: 50px;
  width: 240px;

  cursor: pointer;

  border: 1px solid #000000;
  border-radius: 3px;

  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

div.gallery img {
  border-radius: 3px;
  width: 100%;
  height: 100%;

  border: 1px solid #000000;
}

div.desc {
  padding-top: 20px;
  padding-bottom: 20px;

  height: auto;
  width: 100%;

  text-align: center;
  text-decoration: none;
  color: #000000;

  background-color: #f0ecec;
}

/* Footer */
.footer {
  margin-top: 150px;

  background-color: #3f3f3f;
  color: #ffffff;
  padding: 20px;
  font-size: 14px;
}
