body {
  min-height: 100vh;
  width: 100%;
}

/* Navigation bar links */
.nav-link1 a {
  cursor: pointer;
  transition: 0.3s ease 0s;
}

.nav-link2 a {
  cursor: pointer;
  transition: 0.3s ease 0s;
}

.nav-link3 a {
  cursor: pointer;
  transition: 0.3s ease 0s;
}

/* Navigation bar links hover */
.nav-link1:hover {
  color: #dedede;
}

.nav-link2:hover {
  color: #dedede;
}

.nav-link3:hover {
  color: #dedede;
}

/* Site links */
.site-link1 {
  cursor: pointer;
  transition: 0.5s ease 0s;

  border-radius: 15px;
}

.site-link2 {
  cursor: pointer;
  transition: 0.5s ease 0s;

  border-radius: 15px;
}

.site-link3 {
  cursor: pointer;
  transition: 0.5s ease 0s;

  border-radius: 15px;
}

.site-link4 {
  cursor: pointer;
  transition: 0.5s ease 0s;

  border-radius: 15px;
}

.site-link5 {
  cursor: pointer;
  transition: 0.5s ease 0s;

  border-radius: 15px;
}



/* Site links hover */
.site-link1:hover {
  background-color: #dedede;
}

.site-link2:hover {
  background-color: #dedede;
}

.site-link3:hover {
  background-color: #dedede;
}

.site-link4:hover {
  background-color: #dedede;
}

.site-link5:hover {
  background-color: #dedede;
}

/* Esittelyvideo */
.esittely-video {
  padding-right: 120px;
  float: left;
}

/* Gallery Heading */
.väliviiva {
  border: solid black 1px;
  margin: 20px;
  margin-top: 100px;
}

.galleria h1 {
  text-align: center;
}

.galleria {
  width: auto;
  padding-left: 10px;
  padding-right: 0px;
}

.kuvat-ja-tekstit {
  padding: 42px;
  width: 315px;
  text-align: center;
  float: left;
}
